<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment value="jornada">
      <ion-segment-button value="jornada" (click)="this.cambiarPagina('jornada')">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Jornada</ion-label>
      </ion-segment-button>
      <ion-segment-button value="clasificacion" (click)="this.cambiarPagina('clasificacion')">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Clasificación</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<!-- page jornada -->
<ion-content [fullscreen]="true" *ngIf='this._page=="jornada"'>
  <ion-item class="ion-text-center">
    <ion-label>
      LIGA DAM
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">Jornada {{jornadaActual}}</ion-label>
  </ion-item>


  <ion-card button class="ion-text-center" *ngFor="let item of damePartidosJornada()">
    <ion-card-header>
      <ion-card-title>{{item.equipoLocal.nombre}} Vs {{item.equipoVisitante.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Resultado: {{item.goles.get(item.equipoLocal.nombre)}}-{{item.goles.get(item.equipoVisitante.nombre)}}
    </ion-card-content>
  </ion-card>



</ion-content>

<ion-footer *ngIf='this._page=="jornada"'>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="botonAnterior" (click)="cambiarPartidos($event)">
          <ion-icon class="botonAnterior" name="arrow-back-circle-outline"></ion-icon>
          <ion-label class="botonAnterior">ANTERIOR</ion-label>
        </ion-tab-button>

        <ion-tab-button class="botonSiguiente" (click)="cambiarPartidos($event)">
          <ion-icon class="botonSiguiente" name="arrow-forward-circle-outline"></ion-icon>
          <ion-label class="botonSiguiente">SIGUIENTE</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

<!-- page clasificacion -->
<ion-content [fullscreen]="true" *ngIf='this._page=="clasificacion"'>
  <ion-content>
    <ion-row class="ion-text-center ">
      <ion-col>Posicion </ion-col>
      <ion-col>Equipo</ion-col>
      <ion-col>PTS</ion-col>
      <ion-col>GF</ion-col>
      <ion-col>GC</ion-col>
    </ion-row>
    <ion-row class="ion-text-center letraza" *ngFor="let item of this.dameClasificacion()">
      <ion-col>{{item.posicion}}</ion-col>
      <ion-col>{{item.nombre}}</ion-col>
      <ion-col>{{item.puntos}}</ion-col>
      <ion-col>{{item.golesFavor}}</ion-col>
      <ion-col>{{item.golesContra}}</ion-col>
    </ion-row>

  </ion-content>
</ion-content>

<ion-footer *ngIf='this._page=="clasificacion"'>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="botonAnterior" (click)="cambiarClasificacion($event)">
          <ion-icon class="botonAnterior" name="arrow-back-circle-outline"></ion-icon>
          <ion-label class="botonAnterior">ANTERIOR</ion-label>
        </ion-tab-button>

        <ion-tab-button class="botonSiguiente" (click)="cambiarClasificacion($event)">
          <ion-icon class="botonSiguiente" name="arrow-forward-circle-outline"></ion-icon>
          <ion-label class="botonSiguiente">SIGUIENTE</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>